/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 0, 0, 0.8); }
a { color: rgba(55, 125, 32, 0.655); }
a:hover { color: rgba(55, 125, 32, 1); }

/* GLOBAL TYPOGRAPHY */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}

h1 {
    font-size: 2em;
}

/* HEADER */
header {
    background-color: rgba(55, 125, 32, 0.655);
    color: oldlace;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
}

header a {
    color: oldlace;
    text-decoration: none;
}

header a:hover { 
    color: rgb(250, 205, 138); 
}

/* SITE ID */
.site-id h1 { 
    margin: 0 0.4em; 
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* SITE NAV ANIMATION */
.site-nav a.dropdown-toggle {
    position: relative;
}

.site-nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.6em;
    bottom: 0;
    left: 0;
    background-color: rgb(250, 205, 138);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .site-nav a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

/* MAIN */
main { 
    background: rgba(0,0,0,.05); 
}

section { 
    padding: 3em 1em; 
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em;
}    

/* SOCIAL NAV */
 .social-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

/* HERO SECTION */
.hero {
    background-color: rgba(55, 125, 32, 0.655);
    text-align: center;
    color: oldlace;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 5em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
}

/* COURSES SECTION */
.courses {
    padding: 6em 1em;
    display: grid;
    justify-content: center;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses a {
    text-decoration: none;
}

.courses h3 {
    text-align: center;
}

/* CUSTOM STYLING FOR SPECIFIC & SUB PAGES */
.page-sub .hero {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.page-home .hero {
    background-image: url("../img/flower.jpg");
    background-size: cover;
    background-position: center 25%;
    padding: 30vh 1em 25vh 1em;
}

.page-home header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

/* COURSEWORK PAGES WITH MULITIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em 35vh 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* GIST FIXER */
@media (min-width: 768px){
    .gist{
        max-width: calc( 100vw - 20em );
    }
}

/* SIDEBAR/ASIDE */
aside {
    padding: 2em 1em;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
        padding-bottom: 60vh;
    }

    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0 3em 2em 0;
        padding: .4em 2em 0 0;
    }
}

/* CODE BLOCKS */
pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
    white-space: pre-wrap;
  }

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}
dd {
    margin: 0;
}


/* FOR WEB DEV PURPOSES ONLY */
/* body, * {
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.5);
} */