/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #CONTAINER
        #MEDIAQUERIES
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */
body {
    font-size: 87.5%; /* 14px */
    font-family: 'Avenir Next', 'Nunito Sans', 'Montserrat', sans-serif;
    line-height: 1.5;
    color: rgba(0,0,0,0.8);
}

/* HEADINGS
   Based on a Traditional Typographic Scale
   48, 36, 24, 21, 18, 16 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Optima', 'Arsenal', 'Belleza', serif;
    margin: 0.5em 0;
}

h1 {
    font-size: 3em; /* 48px based on 16px = 1em */
    line-height: 1; 
}

h2 {
    font-size: 2.25em; /* 36px based on 16px = 1em */
    line-height: 1.1; 
}

h3 {
    font-size: 1.5em; /* 24px based on 16px = 1em */
    line-height: 1.2; 
}

h4 {
    font-size: 1.3125em; /* 21px based on 16px = 1em */
    line-height: 1.3; 
}

h5 {
    font-size: 1.125em; /* 18px based on 16px = 1em */
    line-height: 1.4; 
}

h6 {
    font-size: 1em; /* 16px based on 16px = 1em */
    line-height: 1.5; 
}

/* PARAGRAPHS */
p { 
    margin: 0.5em 0;
    max-width: 48em;
}

/* LINKS */
a {
    color: rgba(159,172,171,1);
    text-decoration: none;
}

a:hover {
    color: rgba(92,151,121,1);
    text-decoration: underline;
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}

.full-width {
    max-width: none;
    width: 100%;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;     
}

/* IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */
.button, button, form input[type="submit"] {
    font-size: inherit;
    line-height: 1;
    background-color: rgba(189,204,195,1);
    border: 1px solid rgba(189,204,195,1);
    color: rgba(255,255,255,1);
    padding: 0.75em;
    margin: 0.75em 0em 1.5em 0em;
    display: inline-block;
    text-align: center;
    border-radius: 0.5em;
}

.button:hover, button:hover, form input[type="submit"]:hover {
    background-color: rgba(92,151,121,1);
    border-color: rgba(92,151,121,1);
    color: rgba(255,255,255,1);
    text-decoration: none;
}

.button.alt {  
    background-color: transparent;
    color: rgba(189,204,195,1);
}

.button.alt:hover {
    background-color: rgba(92,151,121,1);
    color: rgba(255,255,255,1);
}

/* LAYOUT */

/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TABLET SIZE STYLING GOES HERE */
}

@media (min-width: 1050px) {
    body {
       font-size: 100%; /* 16px */
    }

    .container {
        padding: 0 2%;
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px */
    }

    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1450px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1650px) {
    .container {
        max-width: 1600px;
    }
}

@media (min-width: 1850px) {
    .container {
        max-width: 1800px;
    }
}

/* SEMANTIC GRID SYSTEM */
.row.swapped {
    flex-direction: row-reverse;
}

.row > .column {
    margin-bottom: 4%;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row.vertical-centered {
        align-items: center;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 62.6666%;
    }

    .row > .column.one-forth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }
}

/* SITE STRUCTURE */

/* SITE HEADER */
.site-header {
    padding: 1em 0;   
}

/* ON LARGER SCREENS PLACE LOGO LEFT & NAV RIGHT */
@media (min-width: 768px) {
    .site-header .container {
        display: flex;
        justify-content: space-between;
    }
}

/* STYLING FOR BOTH HEADER & FOOTER */
.site-header a, .site-footer a {
    color: rgba(26,50,47,1);
}

.site-header a {
    font-weight: bold;
}

.site-header a:hover, .site-footer a:hover {
    color: rgba(92,151,121,1);
    text-decoration: none;
}

/* LOGO AREA */
.site-id a {
    padding: 0.1em 0 0 0;
    display: block;
}

.site-id h1 {
    font-size: 1.5em;
    margin: 0;
    padding-top: 0.55em;
    text-align: center;
}

/* SITE NAV & SOCIAL NAV */
.site-nav ul, .social-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.site-nav a, .social-nav a {
    padding: 1em;
    display: block;
}

.site-nav .menu-button {
    display: none;
}

/* STICKY HEADER */
.site-header.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(240,241,236,1);
}

.site-header.sticky + main {
    padding-top: 3em;
}

/* SITE FOOTER */
.site-footer {
    background-color: rgba(189,204,195,0.5);
    padding-bottom: 0.5em;
}

/* SECTIONS */
section {
    padding: 3em 0;
}

/* HERO */
.hero {
    padding: 2em 0;
}

.hero img {
    width: 100%;
    display: block;
}

@media (min-width: 1250px) {
    .hero img {
        height: 95vh;
        object-fit: cover;
    }
}

/* TOGGLE NAV */
@media (max-width: 767px) {
    .toggle-nav .site-id {
        position: absolute;
    }

    .toggle-nav .site-nav {
        text-align: right;
    }

    .toggle-nav .menu-button {
        display: inline-block;
        cursor: pointer;
        margin: 0.8em 0;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .toggle-nav .menu-button::selection {
        background-color: rgba(255,255,255,0);
    }

    .toggle-nav .site-nav ul {
        display: block;
        text-align: center;
    }

    .toggle-nav .site-nav a:hover {
        background-color: rgba(92,151,121,1);
        color: white;
    }

    .toggle-nav[data-navstate="closed"] ul {
       height: 0;
       overflow: hidden;
    }

    .toggle-nav[data-navstate="open"] ul {
        height: auto;
        overflow: visible;
     }
}

/* NAVICON */
.toggle-nav .menu-button.navicon {
    color: rgba(240,241,236,1);
}

.toggle-nav .menu-button.navicon::after {
    content: "☰";
    display: inline-block;
    margin-top: -0.1em;
    margin-left: 0.5em;
    color: rgba(0,0,0,0.8);
    font-size: 1.5em;
}

.toggle-nav[data-navstate="open"] .menu-button.navicon::after {
    content: "✕";
}

/* FORMS */
form {
    max-width: 790px;
    margin: 2em auto 1em auto;
}

form label, 
form input, 
form textarea {
    display: block;
}

form label {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

form input[type="text"], 
form textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.5em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #777;
}

form textarea {
    min-height: 10em;
    line-height: 1.5;
}

@media (min-width: 1650px) {
    form textarea {
        min-height: 20em;
    }
}

form input[type="submit"], form input[type="file"] {
    margin-top: 1.5em;
    width: auto;
    cursor: pointer;
}

/* FOR DEV PURPOSES ONLY */
/* body, *, *:after, *:before {
    background: none !important;
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,0) !important;
}
img, svg, canvas, video {
    filter: contrast(0%);
} */

/* CUSTOM SITE CSS */
.section-title {
    text-align: center;
    margin-bottom: 0.75em;
    color: rgba(189,204,195,1);
    max-width: 38em;
}

.section-title::after {
    content: "";
    display: block;
    width: 150px;
    margin: 0.25em auto;
    border-bottom: 3px solid rgba(0,0,0,0.2);
}

p.dropcaps:first-of-type:first-letter {
    font-size: 3em;
    line-height: 1;
    background: rgba(189,204,195,1);
    color: black;
    padding: .2em .3em .15em .3em;
    margin-right: .2em;
    float: left;
}

#about, #gallery {
    background: rgba(255,255,255,1);
}

#bio, #contact {
    background: rgba(240,241,236,1);
}

/* CUSTOM GRID FOR BIO */
@media (min-width: 768px) {
    .bio-wrapper {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto auto;
        justify-content: space-between;
        align-items: center;
    }

    .bio-pic {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .bio-text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .bio-awards {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
}

@media (min-width: 1450px) {
    .bio-wrapper {
        align-items: flex-start;
    }

    .bio-awards {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        padding-top: 25em;
    }
}

@media (min-width: 1628px) {
    .bio-awards {
        padding-top: 26em;
    }
}

@media (min-width: 1650px) {
    .bio-awards {
        padding-top: 23em;
    }
}

hr {
    border: 1px solid rgba(0,0,0,0.8);
}

table.awards {
    margin-left: -0.2em;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

table.awards em {
    font-weight: bold;
}

table.awards td.year {
    padding: 0 1em 0 0;
    font-weight: bold;
}

table.awards tr {
    vertical-align: top;
}

#gallery h2 {
    padding-bottom: 0.5em;
}

/* CUSTOM GRID FOR GALLERY */
@media (min-width: 768px) {
    .cardwrap {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        gap: 2em;
    }

    .card1 {
        grid-row: 1 / 3;
    }
}

.content {
    background-color: rgba(240,241,236,1);
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    .content {
        margin-bottom: 0;
    }

    .content.card1 h3 {
        padding-top: 3.5em;
    }
}

@media (min-width: 1450px) {
    .content.card1 h3 {
        padding-top: 3em;
    }
}

.content h3 {
    margin-bottom: 0.25em;
}

.content p, .content h4 {
    margin: 0 1.5em;
}

@media (min-width: 768px) {
    .column.one-half.contact-info {
        margin-top: 1.5em;
    }
}

.column.one-half.contact-info p {
    padding-bottom: 0.5em;
}